.blog-containers {
  padding: 1rem 3rem;
}

.blog-containers img {
  max-height: 60vmin !important;
}

.remove_top_padding {
  padding-top: 0 !important;
}

@media screen and (max-width: 1200px) {
  .blog-containers img {
    max-height: 40vmin !important;
  }
}

@media screen and (max-width: 1000px) {
  .blog-containers img {
    max-height: 30vmin !important;
  }
}

@media screen and (max-width: 750px) {
  .blog-containers {
    max-height: 26rem;
  }

  .blog-containers img {
    max-height: 40vmin !important;
  }
}

.blog_landing_content {
  padding-bottom: 3rem;
}

@media screen and (max-width: 560px) {
  .blog_landing_content {
    padding-bottom: 6rem;
  }
}
