.blog-containers {
  padding: 1rem 3rem;
}

.blog-containers > img {
  max-height: 60vmin;
}

.remove_top_padding {
  padding-top: 0 !important;
}

@media screen and (max-width: 1200px) {
  .blog-containers > img {
    max-height: 40vmin;
  }
}

@media screen and (max-width: 1000px) {
  .blog-containers > img {
    max-height: 30vmin;
  }
}

@media screen and (max-width: 750px) {
  .blog-containers > img {
    max-height: 40vmin;
  }
}
