.market_place_home_left {
  /* flex: 50%; */
}

.market_place_home_right {
  /* flex: 50%; */
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .market_place_home_right {
    justify-content: flex-start;
  }
}

.market_place_home_logo {
  max-width: 100%;
  display: block;
  max-height: 100%;
  width: 50vmax;
}

.market_place_home_right > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
