nav {
  width: 100vw;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar_shadow {
  box-shadow: 1px 1px 6px #ccc;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

ul > * {
  float: left;
  display: flex;
  align-items: center;
}

nav ul > *:not(:last-child) {
  margin-right: 1.5rem;
}

.outer-left-nav {
  display: flex;
  float: left;
  flex-wrap: nowrap;
  align-items: center;
}

.outer-left-nav > ul {
  margin-right: 1rem;
}

.left-nav > *:not(:last-child) {
  margin-right: 1rem;
}

.search-bar {
  display: flex !important;
}

.sub-nav {
  display: none !important;
}

@media screen and (max-width: 1260px) {
  nav {
    padding: 1rem 1.5rem;
  }
  nav ul > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .search-bar {
    display: none !important;
  }
  .sub-nav {
    display: block !important;
  }
}

@media screen and (max-width: 570px) {
  ul {
    display: none;
  }

  .drawer .MuiDrawer-paper {
    width: 40%;
  }
}

.active-link {
  background-color: var(--secondary);
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
}
