.view_user_header {
  background-color: var(--primary);
  height: 10rem;
  padding: 0 2rem;
}

.view_user_header * {
  color: #fff;
}

.view_user_header > *:not(:last-child) {
  margin-right: 1rem;
}

.profile_content {
  padding: 1rem;
  flex-direction: row;
}

.profile_list_contianer {
  padding: 1.5rem 3rem;
  background-color: #ddd;
  border-radius: 0.5rem;
  flex: 50%;
  margin-top: 2rem;
}

.profile_list_contianer > *:not(:last-child) {
  margin-bottom: 1rem;
}

.user_work_images_container {
  flex: 50%;
}

@media screen and (max-width: 768px) {
  .profile_content {
    flex-direction: column;
  }
  .profile_list_contianer {
    flex: 100%;
  }
  .user_work_images_container {
    flex: 100%;
  }
}
