* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #74609e;
  --primaryLight: #ead9ff;
  --primaryMedium: #ae9fc2;
  --secondary: #e0e0e0;
  --tertiary: rgba(0, 0, 0, 0.3);
  --text-dark: #616161;
  --text-medium: #9e9e9e;
  --text-light: #e0e0e0;
  color: var(--text-dark);
  font-size: 14px;
  --backup-primary: #74609e;
  --background: rgb(247, 247, 247);
  --backup-background: rgb(250, 250, 250);
  --height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

@keyframes wrapper_image_anim {
  from {
    transform: rotate(-10deg) translateX(10vw);
  }
  to {
    transform: rotate(0deg) translateX(0vw);
  }
}

.wrapper {
  min-height: var(--height);
  padding-top: 77px !important;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}
.wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./assets/bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  animation-name: wrapper_image_anim;
  animation-duration: 4s;
  content: "";
  min-width: 100vw;
  min-height: var(--height);
  z-index: -1;
}

.fix_wrapper {
  max-height: calc(100vh - 77px);
  height: calc(100vh - 77px);
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 2rem;
  }
  .wrapper {
    padding-top: 145px !important;
  }
  .fix_wrapper {
    max-height: calc(100vh - 145px);
    height: calc(100vh - 145px);
  }
}

@media screen and (max-width: 850px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-top: 124px !important;
  }
  .fix_wrapper {
    max-height: calc(100vh - 124px);
    height: calc(100vh - 124px);
  }
}

@media screen and (max-width: 570px) {
  .wrapper {
    padding-top: 119px !important;
  }
  .fix_wrapper {
    max-height: calc(100vh - 119px);
    height: calc(100vh - 119px);
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
