.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #00000066;
}

.slide_content {
  padding: 6rem;
  position: absolute;
  flex-direction: column;
  min-width: 100%;
  bottom: 0;
  padding-bottom: 3rem;
}

.slide_content > * {
  margin-bottom: 2rem;
}

.slide_content * {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .slide_content {
    padding: 3rem;
    bottom: 3rem;
  }
}
