.homepage {
  display: flex;
}

.homepage div:not(:first-child) {
  flex: 2;
}

.homepage > div {
  border: 1px solid;
  width: 100%;
  min-height: 100%;
}

.slide_content {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
  }

  .slide_content {
    padding: 3rem;
  }

  .homepage div:not(:first-child) {
    flex: initial;
  }

  .homepage div:first-child {
    flex: 2;
  }
}

.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide * {
  color: #fff;
}

.slide > div > * {
  margin-bottom: 1.5rem;
}
